body{
  background-color: #29434e;
  color: #ffffff; 
  font-family: 'Sarala', sans-serif;

}
.index-background{
  background-image: url("images/maps/xanth_oil_background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.character-background{
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  scroll-behavior: smooth;
}
.story_card {
  /* The image used */
  background-image: url("https://via.placeholder.com/1500x500?text=_");

  /* Full height */
  width: 100%;
  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}
.title_card {
  /* The image used */
  background-image: url("images/dnd_us.png");

  /* Full height */
  width: 100%;
  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}
.season1_card {
  /* The image used */
  background-image: url("images/characters/dench.PNG");

  /* Full height */
  width: 100%;
  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg {
  /* The image used */
  background-image: url("images/dnd_1.png");

  /* Full height */
  height:70%;
  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.about_bg{
  height: 55%;
  background-image: url("pictures/photography_sample_1.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.email-link:link{
  color: #819ca9;
}
.email-link:hover{
  color: #546e7a;
  text-decoration: none;
}
.navbar{
  background-color: #546e7a;
  padding: 5px;
  padding-left: 10px;
}
.navbar-brand{
  font-size: 40px;
  padding: 0%;
  
}
.nav-link{
  font-size: 30px; 
  padding: 1%;
  margin: 2%;
  background-color: #29434e;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000000;
}

.dropdown-menu{
  background-color: #98a9b1;
  box-shadow: 2px 2px 4px #000000;
}

.dropdown-item{
  color: #202020 !important;

}
#shadow{
  text-shadow: 2px 2px 2px #000000;
}
#shadow-box{
  box-shadow: 2px 2px 4px #000000;
}
/* unvisited link */
a:link {
  color: #98a9b1;
}

/* visited link */
a:visited {
  color: #98a9b1;
}

/* mouse over link */
a:hover {
  color: #98a9b1;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #98a9b1;
}

.btn-programming{
  box-shadow: 2px 2px 4px #000000;
  background-color: #546e7a; 
  color: #ffffff;
  outline: none;
  border-style: none;
  border-radius: 10px;
}
.btn-programming:hover{
   
  background-color: #819ca9; 
  color: #ffffff;
  outline: none;
  border-style: none;

}

.btn-primary:hover{
   
  background-color: #29434e; 
  color: #ffffff;
  outline: none;
  border-style: none;
  box-shadow: 1px 1px 0px #000000;
}
.btn-primary{
  box-shadow: 2px 2px 1px #000000;
  background-color: #546e7a; 
  color: #ffffff!important;
  outline: none;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
}

.btn-primary:focus{
   
  background-color: #29434e!important; 
  color: #ffffff !important;
  border-style: none !important;
  box-shadow: none!important;

}

.card-body{
  background-color: #819ca9;
  font-size: 20px;
}
.card-footer{
  background-color: #313131;
  
}
.card{
  border: 0;
  
}
.card-text{
  color:#202020;
}
.card-title{
  color:#202020;
}
.card-img-overlay{
  color:#202020;
}
.jumbotron{
  background-color: #202020;
}
.secondary_background{
  background-color: #222222;
  padding: 35px;
  border-radius: 10px;
}
.primary_background{
  background-color: #313131;
  padding: 10px;
  border-radius: 10px;
}
.terciary_background{
  background-color: #98a9b1;
  padding: 10px;
  border-radius: 10px;
}
.roundless{
  border-radius: 0px;
}
.extra_button_fill{
  background-color: #29434e;
  
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 0%;
  
}
.extra_button_fill:hover{
   
  background-color: #98a9b1; 
  color: #c7c7c7;
}
.text_fill{
  background-color: #272727;
  padding: 15px;
  margin: 0px;
}
.title_fill{
  background-color: #313131;
  padding: 10px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.program_button{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.under-800{
  font-size: 145px;
}
.view:hover {
  background-color: #819ca9;
  
  }
  .modal-content{
    background-color: #313131;
  }
  .modal-body input{
    color: #000000;
  }
  @media (max-width: 1200px){
    .text-email{
      font-size: x-small;
    }
  }
  @media (max-width: 767px){
    .text-email{
      font-size: medium;
    }
  }
  @media (max-width: 600px){
    .btn-top{
      margin-bottom: 3px;
    }
  }
  @media (max-width: 800px) {
    h1, h2, h4{
      font-size: large;
    }
    .bg{
      height:100%;
    }
    .nav-link{
      font-size:25px; 
      padding: 0%;
    }
    .about_bg{
      height: 33%;
      background-image: url("pictures/photography_sample_1.JPG");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding-top: 2%;
    }
    .extra_button_fill{
      margin-bottom: 3px;
    }
    .display-2, .display-3{
      font-size: 50px;
      text-align: center;
    }
    .display-3{
      margin-top: 5%;
    }
    .under-800{
    
      font-size: 80px;
     
    }
    
  }




  

